{% extends 'base.html' %}

{% block title %}CalculatorBMI{% endblock %}

{% block content %}
    {% if is_counted%}
        {% if wynik > 25 %}
            Result: {{ wynik|floatformat:2 }}<br>
            Unfortunately, you are overweight!
        {% elif wynik < 18 %}
            Result: {{ wynik|floatformat:2 }}<br>
            Unfortunately, you are underweight!
        {% else %}
            Result: {{ wynik|floatformat:2 }}<br>
            Congratulations, the value is correct!
        {% endif %}
    {% else %}
        <form action="{% url 'fitlife:calculatorBMI' %}" method="post">
            {% csrf_token %}
            Calculator BMI:<br>
            Input weight in kg:
            <input type="text" name="waga" ><br>
            Input height in cm:
            <input type="text" name="wzrost" > <br><br>
            <input type="submit" value="Count">
        </form>
    {% endif %}
{% endblock %}