{% extends 'base.html' %}

{% block title %}Diet plan generator{% endblock %}

{% block content %}

    {% if user.is_authenticated %} <!-- this page is only for registered users -->

    {% if is_counted%}
        Your daily kcal equals {{ kcal|floatformat:0 }} kcal.<br><br>
        Yours macronutrients:<br>
        protein: {{ protein|floatformat:0 }} grams<br>
        carbo: {{ carbo|floatformat:0 }} grams<br>
        fat: {{ fat|floatformat:0 }} grams<br><br>
        Yours macronutrients per meal:<br>
        protein: {{ proteinpermeal|floatformat:0 }} grams<br>
        carbo: {{ carbopermeal|floatformat:0 }} grams<br>
        fat: {{ fatpermeal|floatformat:0 }} grams<br><br>
        Products which you can use to plan your meal:<br>
        <a href="/fitlife/products/">Our products</a>
        <form action="{% url 'fitlife:trainingplan' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="text-center">
                <input type="submit" name="count_again" value="Generate Again" class="btn btn-default">
            </div>
        </form>
    {% else %}
        <form action="{% url 'fitlife:dietplan' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Weight</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="weight"  placeholder="Weight">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Daily activity</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="radio" name="activity" value="low" checked="checked"> Low<br>
                            <input type="radio" name="activity" value="medium"> Medium<br>
                            <input type="radio" name="activity" value="high"> High<br>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Target</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="radio" name="target" value="mass" checked="checked"> Mass<br>
                            <input type="radio" name="target" value="reduction"> Reduction<br>
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Generate" class="btn btn-default">
            </div>
        </form>
    {% endif %}

    {% else %}
    <p class="bg-info larger-padding">You have to register if you want to view contents of this page.</p>
    {% endif %}
{% endblock %}
