{% extends 'base.html' %}

{% block title %}Instruction videos{% endblock %}

{% block content %}
    <h3>Chest</h3>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lvGciMRi_zU?list=PL675498D350FA7EB5"></iframe>
    </div>
    <br />
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FoP4sLFziF0?list=PL675498D350FA7EB5"></iframe>
    </div>
    <br />
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aHG78PBG8d8?list=PL675498D350FA7EB5"></iframe>
    </div>
    <br><h3>Back</h3>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/O6UqLTkFJFk?list=PL675498D350FA7EB5"></iframe>
    </div>
    <br />
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HjHIW_nTzTA?list=PL675498D350FA7EB5"></iframe>
    </div>
    <br />
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QhzhrLWstkc?list=PL675498D350FA7EB5"></iframe>
    </div>
    <br><h3>Shoulders</h3>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cQg2f3xfJq0?list=PL675498D350FA7EB5"></iframe>
    </div>
    <br />
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vU50wUxydDo?list=PL675498D350FA7EB5"></iframe>
    </div>
    <br />
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gklOqFbX-Aw?list=PL675498D350FA7EB5"></iframe>
    </div>    
{% endblock %}
