{% extends 'base.html' %}

{% block title %}Instruction videos{% endblock %}

{% block content %}
    Chest:<br><br>
    <iframe width="470" height="270" src="https://www.youtube.com/embed/lvGciMRi_zU?list=PL675498D350FA7EB5" frameborder="0" allowfullscreen></iframe>
    <iframe width="470" height="270" src="https://www.youtube.com/embed/FoP4sLFziF0?list=PL675498D350FA7EB5" frameborder="0" allowfullscreen></iframe>
    <iframe width="470" height="270" src="https://www.youtube.com/embed/aHG78PBG8d8?list=PL675498D350FA7EB5" frameborder="0" allowfullscreen></iframe>
    <br><br>Back:<br><br>
    <iframe width="470" height="270" src="https://www.youtube.com/embed/O6UqLTkFJFk?list=PL675498D350FA7EB5" frameborder="0" allowfullscreen></iframe>
    <iframe width="470" height="270" src="https://www.youtube.com/embed/HjHIW_nTzTA?list=PL675498D350FA7EB5" frameborder="0" allowfullscreen></iframe>
    <iframe width="470" height="270" src="https://www.youtube.com/embed/QhzhrLWstkc?list=PL675498D350FA7EB5" frameborder="0" allowfullscreen></iframe>
    <br><br>Shoulders:<br><br>
    <iframe width="470" height="270" src="https://www.youtube.com/embed/cQg2f3xfJq0?list=PL675498D350FA7EB5" frameborder="0" allowfullscreen></iframe>
    <iframe width="470" height="270" src="https://www.youtube.com/embed/vU50wUxydDo?list=PL675498D350FA7EB5" frameborder="0" allowfullscreen></iframe>
    <iframe width="470" height="270" src="https://www.youtube.com/embed/gklOqFbX-Aw?list=PL675498D350FA7EB5" frameborder="0" allowfullscreen></iframe>
    
{% endblock %}
