{% extends 'base.html' %}

{% block title %}Suplementation{% endblock %}

{% block content %}
    {% if suplementationvalue %}
   <h4>Daily sumplementation</h4><br /><br />
   <table class="table">
       <tbody><tr>
           <td><h4>Name</h4></td>
           <td><h4>Amount</h4></td>
        </tr></tbody>
        <tr>
           <td>Creatine (monohydrat) before/after training</td>
           <td>5g</td>
        </tr>
        {% if suplementationvalue == 1 %}        
        <tr>
           <td>BCAA before/after training</td>
           <td>5g</td>
        </tr>
        <tr>
           <td>AAKG 30 minutes before training</td>
           <td>4 caps</td>
        </tr>
        <tr>
           <td>Cytruline Before training mixed with AAKG</td>
           <td>5 caps</td>
        </tr>
        {% endif %}
        <tr>
           <td>Witamins after waking up</td>
           <td>1 cap</td>
        </tr>
        <tr>
           <td>Minerals before going to bed</td>
           <td>1 cap</td>
        </tr>
        <tr>
           <td>Protein whey after training</td>
           <td>40g</td>
        </tr>
   </table>

<br>
    <form action="{% url 'fitlife:suplementation' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="text-center">
                <input type="submit" name="count_again" value="Generate Again" class="btn btn-default">
            </div>
    </form>
    {% else %}

    <form action="{% url 'fitlife:suplementation' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label">Your experience</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="radio" name="experience" value="Beginner" checked="checked"> Begginer<br />
                        <input type="radio" name="experience" value="Professional"> Professional
                    </label>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Generate" name="again" class="btn btn-default">
        </div>
    </form>
    {% endif %}
{% endblock %}