{% extends 'base.html' %}

{% block title %}Exercise Generator{% endblock %}

{% block content %}

    {% if user.is_authenticated %} <!-- this page is only for registered users -->

    {% if is_generated %}
        Sample exercises:<br><br>
        {% for exercise in exercises %}
            {{ exercise.name }}<br>
        {% endfor %}
        <br>
        <form action="{% url 'fitlife:training' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="text-center">
                <input type="submit" value="Generate again" name="again" class="btn btn-default">
            </div>
        </form>
    {% else %}
        <form action="{% url 'fitlife:training' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Sex</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="radio" name="sex" value="male" checked="checked"> Male<br />
                            <input type="radio" name="sex" value="female"> Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Generate" class="btn btn-default">
            </div>
        </form>
    {% endif %}

    {% else %}
    <p class="bg-info larger-padding">You have to register if you want to view contents of this page.</p>
    {% endif %}
    
{% endblock %}
