{% extends 'base.html' %}

{% block title %}Training plan generator{% endblock %}

{% block content %}
    {% if trainingvalue %}
        {% if trainingvalue == 1 %}
Trening 1 – Klatka Barki Triceps
<br>
<br>Pompki 4 x 10 
<br>Brama rozpietki 4x15
<br>Wyciskanie na lawce plaskiej 1x12 1x8 5x5 
<br>Wyciskanie hantli na skosie 3x8
<br>
<br>OHP 3x8
<br>Wznosy bokiem + wznosy przód 3x10 
<br>Dips 3x8
<br>Wyciskanie na lawce wasko 3x8-10
<br>Wyprosty 3x10
<br>
<br>Trening 2 -  Plecy biceps
<br> 
<br>Sciaganie drazka do klatki szeroko 3x10
<br>Podciaganie 3x10
<br>Wioslowanie 3x10
<br>Wciaganie na bramie 3x10
<br>Wioslowanie t-bar + Y lift 3x10
<br>
<br>Uginanie na wyciagu 3x15
<br>Supinacja 3x12
<br>
<br>Trening 3 
<br>Martwy ciag 12-12-10-10-8-8-20
<br>Prostownik 3x10
<br>Wyprosty na maszynie uginanie na maszynie 4x15
<br>Wspiecia na lydki 3x20
<br>Hip trust 3x 12
        {% elif trainingvalue == 2 %}
<br>klatka biceps:
<br>
<br>wyciskanie sztangi 3x8
<br>hammer maszyna skos dól 3x12
<br>rozpietki na bramie 4x10
<br>rozpietki lezac na lawce plaskiej 2x15
<br>
<br>supinacja 3x10
<br>uginanie mlotkowe 3x12
<br>uginanie ze sztanga na modlitewniku 3x15
<br>
<br>plecy triceps:
<br>
<br>podciaganie 4x5
<br>sciaganie drazka pionowo szerokim uchwytem 4x12
<br>sciaganie drazka poziomo do brzuchu 4x10
<br>wioslowanie polsztanga 3x10
<br>
<br>wyciskanie na wasko 4x10
<br>sciaganie linek pioonowo 4x10
<br>pompki na poreczach 3xmaks
<br>
<br>barki brzuch:
<br>
<br>wyciskanie OHP stojac 4x8
<br>unoszenie hantli bokiem siedzac/stoja w superserii 4x10
<br>unoszenie hantli w przod stojac 4x10
<br>unoszenie hantli szeroko lezac na lawce skosnej 4x10
<br>
<br>allahy na wyciagu 4x25
<br>brzuszki 4x20
 {% elif trainingvalue == 3 %}
<br>DZIEN 1
<br> 
<br>BARKI/PUPA/TRICPES
<br>podciaganie sztangi przodem 4 x 15 
<br>wyciskanie hantli w siedzeniu na lawce z oparciem ustawionym do kata 90 stopni (cale plecy przyklejamy do oparcia) 4 x 12-14 + wznosy bokiem hantli stojac 4 x 10 (seria laczona)
<br>lifty na wyciagu dolnym 4 x 15 
<br>wznosy bioder w podporze o lawke 4 x 20 
<br> 
<br>TRICPES
<br>francuskie wyciskanie hantli jednorLcz, w siedzeniu na fitballu 5 x 15
<br>prostowanie przedramion w podporze o lawke 4 x 10-14
<br>ABS(brzuch)
<br>unoszenie nóg na zurawiu 4 x 20-30
<br>spiecia brzucha na bosu z drazkiem trzymanym na klatce piersiowej 
<br>scyzoryki na macie 4 x 20-30
<br>spiecia brzucha w lezeniu na lawce 4 x 25
<br>
<br>DZIEN 2 
<br> 
<br>KLATKA
<br>pompki w oparciu o lawke 4 x 10
<br>rozpiÍtki sztangielkami na lawce poziomej 4 x 12 +
<br>wyciskanie sztangi/ gryfu na lawce lekko uniesionej z oparciem ku gurze 4 x 14 (seria lczona)
<br>BICEPS
<br>uginanie rak w oparciu o kolano ze sztangielkami 4 x 15
<br>ABS (brzuch) analogicznie do dnia 1.
<br>
<br>DZIEN 3
<br>NOGI/POSLADKI
<br>prostowanie nóg na maszynie siedzac 4 x 8 +
<br>uginanie nóg na maszynie  4 x 16 (seria laczona)
<br>wypychanie suwnicy siedzacej 4 x 8-10
<br>wykroki chodzone ze sztanga trzymana  na karku 4 x 30 
<br>ABS (brzuch) analogicznie do dnia 1
<br>
<br>DZIEN 4
<br> 
<br>BARKI/PLECY
<br>wznosy talerza przodem (obie rece) 4 x 12
<br>arnoldki 4 x 15
<br>wznosy sztangielek do boków, w lezeniu na lawce (na brzuchu- lawka ustawiona do kata 40 stopni, glowa do góry) 5 x 12
<br>przyciaganie szerokiego drazka wyciagu gornego podchwtem do klatki x 10 +przyciaganie wyciagu poziomego z szerokim uchwytem, siedzac 4 x 16 (seria laczona)
<br>unoszenie tulowia na lawce "rzymskiej" z obciazeniem 4 x 20

  {% elif trainingvalue == 4 %}
<br>BARKI/PLECY
<br>wznosy sztangielek do boków, w lezeniu na lawce (na brzuchu- lawka ustawiona do kata 40 stopni, glowa do góry) 5 x 12
<br>przyciaganie szerokiego drazka wyciagu gornego podchwtem do klatki x 10 +przyciaganie wyciagu poziomego z szerokim uchwytem, siedzac 4 x 16 (seria laczona)
<br>unoszenie tulowia na lawce "rzymskiej" z obciazeniem 4 x 20
<br>wznosy talerza przodem (obie rece) 4 x 12
<br>arnoldki 4 x 15
<br>
<br>NOGI/POSLADKI
<br>wypychanie suwnicy siedzacej 4 x 8-10
<br>wykroki chodzone ze sztanga trzymana  na karku 4 x 30 
<br>prostowanie nóg na maszynie siedzac 4 x 8 +
<br>uginanie nóg na maszynie  4 x 16 (seria laczona)
<br>
<br>KLATKA i BIceps
<br>uginanie rak w oparciu o kolano ze sztangielkami 4 x 15
<br>pompki w oparciu o lawke 4 x 10
<br>rozpiÍtki sztangielkami na lawce poziomej 4 x 12 +
<br>wyciskanie sztangi/ gryfu na lawce lekko uniesionej z oparciem ku gurze 4 x 14 (seria lczona)
        {% endif %}
        <br>
        <br>
        <form action="{% url 'fitlife:trainingplan' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <input type="submit" name="count_again" value="Generate Again" class="btn btn-default">
        </form>
    {% else %}
        <form action="{% url 'fitlife:trainingplan' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Sex</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="radio" name="sex" value="male" checked="checked"> Male<br>
                            <input type="radio" name="sex" value="female"> Female<br>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Target</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="radio" name="target" value="strength" checked="checked"> Strength<br>
                            <input type="radio" name="target" value="stamina"> Stamina<br>
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Generate" class="btn btn-default">
            </div>
        </form>
    {% endif %}
{% endblock %}
