{% extends 'base.html' %}

{% block title %}Exercise Generator{% endblock %}


{% block content %}
    {% if is_generated %}
        Sample exercises:<br><br>
        {% for exercise in exercises %}
            {{ exercise.name }}<br>
        {% endfor %}
        <br>
        <form action="{% url 'fitlife:training' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Generate again" name="again">
        </form>
    {% else %}
        <form action="{% url 'fitlife:training' %}" method="post">
            {% csrf_token %}
            Sex:<br>
            <input type="radio" name="sex" value="male"> Male<br>
            <input type="radio" name="sex" value="female"> Female<br><br>
            <input type="submit" value="Generate" >
        </form>
    {% endif %}
{% endblock %}
