{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <form action="{% url 'loginuser:register' %}" method="post">
        {% csrf_token %}
        First name: <input type="text" name="firstname"><br><br>
        Last name: <input type="text" name="lastname"><br><br>
        E-mail: <input type="email" name="email"><br><br>
        Username: <input type="text" name="username"><br><br>
        Password: <input type="password" name="password"><br><br>
        <input type="submit" value="Register">
    </form>
{% endblock %}