* {
	color: black;
}

body {
	padding-top: 50px;
	height:100vh;
}

.dupa {
	background-color: white;
}

.jumbotron {
	margin-top: 20px;
	height: 400px;
	background-image: url("images/background.jpg");
	background-size: cover;
	color: white;
}

.larger-padding {
	padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.calculators {
	width: 200px;
}

.sideBar {
	background-color: white;
}

.news-post {
  margin-bottom: 60px;
}
.news-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.news-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.footer {
	min-height: 100px;
	margin-bottom: -10px;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.footer-text {
	color: white;
}

#map {
	min-height: 300px;
	width: 100%;
}