* {
	color: black;
}

body {
	padding-top: 50px;
}

.dupa {
	background-color: white;
}

.jumbotron {
	margin-top: 20px;
	height: 400px;
	background-image: url("images/background.jpg");
	background-size: cover;
	color: white;
}


.mainFeed {
	/*background-color: gray;*/
}

.navbar {
	/*background-color: gray;*/
}


.sideBar {
	background-color: white;
}


.post-readMore {
	float: left;
}

.post-numberOfComments {
	float: right;
}

.post-title {
}


.footer {
	min-height: 100px;
	margin-bottom: -10px;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.footer-text {
	color: white;
}
